{% extends "Base.html" %}
{% block content %}


 <h1>Assignment-WD (web programming and design) of<br> <br> IT Worskshop-1 CSE, IIT(BHU), Varanasi</h1>

<section id="middle">
<a href="http://www.iitbhu.ac.in"><img src="/static/images/download.jpg" height="500px" width="603px"></a>
</section>
<div class="sidebar">
        <h2>Group 1:<i>THE BEST ONE</i></h2>
        <ul>
        <li><a href="static/pdf/Assignment_WebDesign.pdf">Assignment Problem Sheet</a></li>
        <li><a href="http://en.wikipedia.org/wiki/Average">What is Average?</a></li>
        <li><a href="http://en.wikipedia.org/wiki/Interpolation">What is interpolation?</a></li>
        </ul>
        <h3>like our website? view our code..</h3>
        <ul>
            <li><a href="#">python files</a> </li>
            <li><a href="#">css files</a> </li>
            <li><a href="#">templates</a> </li>
            <li><a href="#">images</a> </li>
        </ul>
        <div class="help">
        <p>Need help? feel free to <a href="/contact">contact us</a><br>
        <a href="#">queries</a><br>
        <a href="#">report bugs</a></p>
        </div>

    </div>
	

{% endblock %}

